
body {
    padding-top: 60px;
    padding-bottom: 40px;
}
.sidebar-nav {
    padding: 9px 0;
}

@media (max-width: 980px) {
    /* Enable use of floated navbar text */
    .navbar-text.pull-right {
        float: none;
        padding-left: 5px;
        padding-right: 5px;
    }
}

a {
color: black;
}  

#toggleSearch form
{
margin-bottom: 0;
}

.carousel {
    background-color: #EEEEEE;
    border-radius: 10px 10px 10px 10px;
    margin: auto auto 20px;
    max-width: 1000px;
    font-size: 18px;
}
.carousel-inner
{
    height: 20%;
}

.carousel-caption a,.carousel-caption a:hover,.carousel-caption a:visited,.carousel-caption a:active
{
    color:  whitesmoke;
    text-decoration: underline;
}
.carousel-control {
    font-size: 27px;
    height: 25px;
    left: 15px;
    line-height: 20px;
    margin-top: -12px;
    top: 49%;
    width: 25px;
}

/*.carousel p
{
    margin-top: 72px;
}*/
