.nav .menuItem
{
    margin-top: 10px;
}

.lang a
{
    float: left !important;
}

.table tbody tr.Tlabel > td {
  background-color: #cccccc;
  
}

.selected a {
    font-weight: bold;
}<style type="text/css">
            body {
                padding-top: 60px;
                padding-bottom: 40px;
            }
            .sidebar-nav {
                padding: 9px 0;
            }

            @media (max-width: 980px) {
                /* Enable use of floated navbar text */
                .navbar-text.pull-right {
                    float: none;
                    padding-left: 5px;
                    padding-right: 5px;
                }
            }
        </style>